.Menu-Bar-Contents{
display: flex;
justify-content: space-between;

}


.Menu-Bar {
    
    position: fixed;
    top:0;
    padding-top: 20px;
    padding-bottom: 20px;
    height:30px;
    width:100%;
    z-index: 1;
    top: 0;
    /*animations*/
   transition: all ease-in 0.5s;
}

.Menu-Bar-Contents{
    display: flex;
    justify-content: space-between;

}

.Menu-Black{
    background-color: black;
}

.MenuBar-logo {
    width: 8rem;
    position:fixed;
    left:20px;
    cursor: pointer;
   

}
.MenuBar-avatar {
    cursor: pointer;
     width:3rem;
     position:fixed;
     right:20px;
   
    
}